<section>
  <div class="cards">
    <div class="image">
      <div class="img">
        <img src="../../../../assets/images/Moi.jpg" alt="Moi.jpg" />
      </div>
      <button>
        <mat-icon>cloud_upload</mat-icon>
        <span>Modifier</span>
      </button>
    </div>
    <div class="text">
      <div class="heading">
        <div>
          <h4>Tene Delfred</h4>
          <span class="getsmarter-prof">Profil utilisateur</span>
        </div>
        <button (click)="updateProfil()">
          <mat-icon>edit</mat-icon>
          <span>Modifier</span>
        </button>
      </div>

      <div class="subheading">
        <div>
          <p>
            <mat-icon>sort_by_alpha</mat-icon>
            <span>Noms & Prénoms</span>
          </p>
          <h4>Ambang</h4>
        </div>
        <div>
          <p>
            <mat-icon>alternate_email</mat-icon>
            <span>email</span>
          </p>
          <h4>johngetsmarter&commat;.com</h4>
        </div>
        <div>
          <p>
            <mat-icon>phone_in_talk</mat-icon>
            <span>Numéro téléphone</span>
          </p>
          <h4>+237 674897552</h4>
        </div>
        <div>
          <p>
            <mat-icon>male</mat-icon>
            <span>Sexe</span>
          </p>
          <h4>Homme</h4>
        </div>
        <div>
          <p>
            <mat-icon>flag</mat-icon>
            <span>pays</span>
          </p>
          <h4>Cameroun</h4>
        </div>
        <div>
          <p>
            <mat-icon>pin_drop</mat-icon>
            <span>ville</span>
          </p>
          <h4>Douala</h4>
        </div>
      </div>
    </div>
  </div>
</section>
