<section>
  <!-- start section1  -->
  <div class="first-section">
    <div class="first-bloc">
      <div class="text">
        <h4>
          Bienvenu(e) <span>Delfred Tene</span>
          <img
            src="../../../assets/images/party-popper-svgrepo-com.svg"
            alt="party-popper-svgrepo-com"
          />
        </h4>
        <p>Gerer Vos operations en toute simplicite.</p>
      </div>
      <div class="image">
        <img
          src="../../../assets/images/man-with-laptop-light.png"
          alt="man-with-laptop-light"
        />
      </div>
    </div>
    <div class="second-bloc">
      <div class="card">
        <div class="title">
          <div>
            <p>4</p>
            <h2>sessions</h2>
          </div>
          <span><mat-icon>groups</mat-icon></span>
        </div>
        <p>Session de mars 2023</p>
      </div>
      <div class="card">
        <div class="title">
          <div>
            <p>45</p>
            <h2>etudiants</h2>
          </div>
          <span><mat-icon>face</mat-icon></span>
        </div>
        <p>tene delfred</p>
      </div>
      <div class="card">
        <div class="title">
          <div>
            <p>6</p>
            <h2>formations</h2>
          </div>
          <span><mat-icon>school</mat-icon></span>
        </div>
        <p>fullstack java</p>
      </div>
      <div class="card">
        <div class="title">
          <div>
            <p>2</p>
            <h2>campus</h2>
          </div>
          <span><mat-icon>apartment</mat-icon></span>
        </div>
        <p>logpom carrefour market</p>
      </div>
      <div class="card">
        <div class="title">
            <div>
              <p>8</p>
              <h2>matieres</h2>
            </div>
            <span><mat-icon>book</mat-icon></span>
          </div>
          <p>java swing</p>
      </div>
      <div class="card">
        <div class="title">
            <div>
              <p>8</p>
              <h2>professeurs</h2>
            </div>
            <span><mat-icon>person_3</mat-icon></span>
          </div>
          <p>jires nodem</p>
      </div>
    </div>
  </div>
  <!-- end section1  -->


  <!-- start section2  -->
  <div class="second-section">
    <div class="diagramme">
      <canvas id="MyChart">{{ chart }}</canvas>
    </div>
    <div class="calendar">
      <mat-calendar></mat-calendar>
    </div>
    <div class="notifications">
      <h1>Notifications</h1>
    </div>
  </div>
  <!-- start section2  -->

</section>
