@import "../../../../styles.scss";

mat-card {
  padding: 2rem;
  max-height: 70vh;
  overflow: auto;
  position: relative;

  mat-card-header {
    h1 {
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
      font-weight: 500;
      margin-bottom: 3rem;
      width: 100%;
    }
  }

  mat-card-content {
    margin-bottom: 3rem;

    .champ {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    mat-form-field {
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;

    button {
      padding: 1rem 2rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 0 0.5rem #0000003f;
      font-size: 1.2rem;
      font-weight: 500;
      color: $white;
      display: inline-block;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      &:last-child {
        background-color: $success;

        &:hover {
          background-color: rgb(0, 99, 0);
        }
      }
      &:first-child {
        background-color: $danger;
        &:hover {
          background-color: rgb(143, 0, 0);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  mat-card {
    padding: 1rem;
    mat-card-header {
      h1 {
        font-size: 1.6rem;
      }
    }

    mat-card-content {
      width: 100%;
      padding: 0;

      .champ {
        grid-template-columns: repeat(1, 1fr);
      }

      mat-form-field {
        width: 100%;
      }
    }
  }
}
