<form [formGroup]="updateProfessorForm" (ngSubmit)="updateProfessor()">
  <mat-card>
    <mat-card-header>
      <h1>Modifer ce professeur</h1>
    </mat-card-header>

    <mat-card-content>
      <!-- Validation du champ noms  -->
      <div>
        <mat-form-field>
          <mat-label>Nom complet du professeur</mat-label>
          <input formControlName="fullName" matInput placeholder="John Doe" />
        </mat-form-field>
      </div>

      <!-- Validation du champ Identifiant CNI  -->
      <div>
        <mat-form-field>
          <mat-label>Identifiant CNI</mat-label>
          <input
            formControlName="cni"
            matInput
            placeholder="20243125786534780"
          />
        </mat-form-field>
      </div>

      <!-- Validation du champ Identifiant CNI  -->
      <div>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="johndoe@gmail.com"
          />
        </mat-form-field>
      </div>

      <!-- Validation du champ numero de telephone  -->
      <div>
        <mat-form-field>
          <mat-label>Numero telephone</mat-label>
          <input
            formControlName="phoneNumber"
            matInput
            placeholder="670834210"
          />
        </mat-form-field>
      </div>
    </mat-card-content>

    <div class="button">
      <button type="submit">Enregistrer</button>
      <button (click)="closePopup()">Annuler</button>
    </div>
  </mat-card>
</form>
