<section>
  <div class="container">
    <div class="student">
      <div class="infos-student">
        <div class="img">
          <div class="image">
            <img
              src="../../../../assets/images/tutor_male.png"
              alt="tutor_male.png"
            />
          </div>
          <button class="btn-update">
            <mat-icon>cloud_upload</mat-icon>
            <span>Modifier</span>
          </button>
        </div>
        <div class="subheading">
          <div>
            <p>
              <mat-icon>sort_by_alpha</mat-icon>
              <span>Noms</span>
            </p>
            <h4>Ambang</h4>
          </div>
          <div>
            <p>
              <mat-icon>sort_by_alpha</mat-icon>
              <span>Prénoms</span>
            </p>
            <h4>Ricky</h4>
          </div>
          <div>
            <p>
              <mat-icon>vpn_key</mat-icon>
              <span>matricule</span>
            </p>
            <h4>G-2024DM3D6E</h4>
          </div>
          <div>
            <p>
              <mat-icon>alternate_email</mat-icon>
              <span>email</span>
            </p>
            <h4>ambangricky&commat;.com</h4>
          </div>
          <div>
            <p>
              <mat-icon>phone_in_talk</mat-icon>
              <span>Numéro téléphone</span>
            </p>
            <h4>+237 674897552</h4>
          </div>
          <div>
            <p>
              <mat-icon>badge</mat-icon>
              <span>CNI</span>
            </p>
            <h4>Null</h4>
          </div>
          <div>
            <p>
              <mat-icon>male</mat-icon>
              <span>genre</span>
            </p>
            <h4>Homme</h4>
          </div>
          <div>
            <p>
              <mat-icon>calendar_month</mat-icon>
              <span>date de naissance</span>
            </p>
            <h4>24/10/2004</h4>
          </div>
        </div>
        <div class="update">
          <button class="btn-update">
            <mat-icon>edit</mat-icon>
            <span>Modifier</span>
          </button>
        </div>
      </div>

      <div class="reduction card-style">
        <div class="heading">
          <h1>Reduction</h1>

          <button class="btn-update">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="subheading">
          <div>
            <p>Montant Total</p>
            <h6><span>500000</span> XAF</h6>
          </div>
          <div class="mtp">
            <p>Montant Reduction</p>
            <h6><span>100000</span> XAF</h6>
          </div>
          <div class="mrp">
            <p>Montant Apres Reduction</p>
            <h6><span>400000</span> XAF</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="formation">
      <div class="infos-formations card-style">
        <div class="heading">
          <h1>Infos Formation</h1>
          <button class="btn-update">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="subheading">
          <div>
            <p>Campus</p>
            <h6><span>Bonamoussadi Sable</span></h6>
          </div>
          <div>
            <p>Formation</p>
            <h6><span>Fullstack Java</span></h6>
          </div>
          <div>
            <p>Session</p>
            <h6><span>Activer</span></h6>
          </div>
          <div>
            <p>Horaire</p>
            <h6><span>Jour</span></h6>
          </div>
        </div>
      </div>

      <div class="fee-formations card-style">
        <div class="heading">
          <h1>Finance Formation</h1>
          <button class="btn-update">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="subheading">
          <div class="mtt">
            <p>Montant Total</p>
            <h6><span>400000</span> XAF</h6>
          </div>
          <div class="mtp">
            <p>Montant Payé</p>
            <h6><span>50000</span> XAF</h6>
          </div>
          <div>
            <p>Inscription</p>
            <h6><span>50000</span> XAF</h6>
          </div>
          <div>
            <p>1ERE Tranche</p>
            <h6><span>0</span> XAF</h6>
          </div>
          <div>
            <p>2E Tranche</p>
            <h6><span>0</span> XAF</h6>
          </div>
          <div>
            <p>3E Tranche</p>
            <h6><span>0</span> XAF</h6>
          </div>
          <div>
            <p>Autres</p>
            <h6><span>0</span> XAF</h6>
          </div>
          <div class="mrp">
            <p>Montant Restant</p>
            <h6><span>350000</span> XAF</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="back">
    <button (click)="backPage()">
      <mat-icon>west</mat-icon>
    </button>
  </div>
</section>
