<section>
  <div class="container">
    <div class="tutor">
      <div class="img">
        <div class="image">
          <img
            src="../../../../assets/images/tutor_male.png"
            alt="tutor_male.png"
          />
        </div>
      </div>
      <div class="subheading">
        <div>
          <p>
            <mat-icon>sort_by_alpha</mat-icon>
            <span>Nom complet</span>
          </p>
          <h4>Ambang Ricky</h4>
        </div>
        <div>
          <p>
            <mat-icon>alternate_email</mat-icon>
            <span>email</span>
          </p>
          <h4>ambangricky&commat;.com</h4>
        </div>
        <div>
          <p>
            <mat-icon>phone_in_talk</mat-icon>
            <span>Numéro téléphone</span>
          </p>
          <h4>+237 674897552</h4>
        </div>
        <div>
          <p>
            <mat-icon>male</mat-icon>
            <span>gender</span>
          </p>
          <h4>Homme</h4>
        </div>
      </div>
    </div>

    <div class="paiement">
      <div class="heading">
        <h1>Transactions</h1>
        <div class="image">
          <img
            src="../../../../assets/images/564-5640738_in-hk-by-yuen-cost-savings-clip-art.png"
            alt=""
          />
        </div>
      </div>
      <div class="subheading">
        <div class="mtp">
          <p>Montant total à payer</p>
          <h6><span>5000000</span> XAF</h6>
        </div>
        <div>
          <p>Inscription</p>
          <h6><span>0</span> XAF</h6>
        </div>
        <div>
          <p>1ère tranche</p>
          <h6><span>0</span> XAF</h6>
        </div>
        <div>
          <p>2ème tranche</p>
          <h6><span>0</span>XAF</h6>
        </div>
        <div>
          <p>3ème tranche</p>
          <h6><span>0</span> XAF</h6>
        </div>
        <div class="mrp">
          <p>Montant restant à payer</p>
          <h6><span>5000000</span> XAF</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="back">
    <button (click)="backPage()">
      <mat-icon>west</mat-icon>
    </button>
  </div>
</section>
