<section>
  <div class="paiement">
    <div class="heading">
      <h1>JavaScript</h1>
      <div class="image">
        <img
          src="../../../../assets/images/play_green.png"
          alt=""
        />
      </div>
    </div>
    <div class="subheading">
      <div>
        <p>Durée de cours</p>
        <h6><span>0</span> semaine(s)</h6>
      </div>
      <div>
        <p>Nom du professeur</p>
        <h6><span>John Doe</span></h6>
      </div>
      <div>
        <p>Statut</p>
        <h6><span>Activer</span></h6>
      </div>
      <div>
        <p>Session</p>
        <h6><span>Juillet 2024</span></h6>
      </div>
      <div>
        <p>Horaire</p>
        <h6><span>Cours du jours</span></h6>
      </div>
      <div class="mtp">
        <p>Date de debut du cours</p>
        <h6><span>2024-09-17</span></h6>
      </div>
      <div class="mrp">
        <p>Date de fin du cours</p>
        <h6><span>2024-10-15</span></h6>
      </div>
    </div>
  </div>
</section>
