<form [formGroup]="addFormationForm" (ngSubmit)="addFormation()">
  <mat-card>
    <mat-card-header>
      <h1>Enregistrer une formation</h1>
    </mat-card-header>

    <mat-card-content>
      <!-- Validation du champ specialite  -->
      <div>
        <mat-form-field>
          <mat-label>Specialite</mat-label>
          <input
            formControlName="specialite"
            matInput
            placeholder="Fullstack Java"
          />
        </mat-form-field>
      </div>

      <!-- Validation du champ duree  -->
      <div>
        <mat-form-field>
          <mat-label>Duree de formation</mat-label>
          <input
            formControlName="periode"
            matInput
            type="number"
            class="example-right-align"
            placeholder="0"
          />
          <span matTextSuffix>mois</span>
        </mat-form-field>
      </div>

      <!-- Validation du champ prix  -->
      <div>
        <mat-form-field>
          <mat-label>Prix</mat-label>
          <input formControlName="price" matInput placeholder="500000" />
        </mat-form-field>
      </div>

      <!-- Validation du champ Code formation  -->
      <div>
        <mat-form-field>
          <mat-label>Specificite formation</mat-label>
          <mat-select formControlName="specificiteFormation">
            <!-- <mat-option  *ngFor="let item of dureeCourse" [value]="item.id">{{item.duree}}</mat-option> -->
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-content>

    <div class="button">
      <button type="submit">Enregistrer</button>
      <button (click)="closePopup()">Annuler</button>
    </div>
  </mat-card>
</form>
