<form [formGroup]="updateCodeForm" (ngSubmit)="updateSpecificiteFormation()">
  <mat-card>
    <mat-card-header>
      <h1>Modifier ce code de formation</h1>
    </mat-card-header>

    <mat-card-content>
      <!-- Validation du champ code  -->
      <div>
        <mat-form-field>
          <mat-label>Code</mat-label>
          <input formControlName="code" matInput placeholder="DM" />
        </mat-form-field>
      </div>

      <!-- Validation du champ libelle  -->
      <div>
        <mat-form-field>
          <mat-label>Libelle</mat-label>
          <input
            formControlName="libelle"
            matInput
            placeholder="Developpement web et mobile"
          />
        </mat-form-field>
      </div>
    </mat-card-content>

    <div class="button">
      <button type="submit">Enregistrer</button>
      <button (click)="closePopup()">Annuler</button>
    </div>
  </mat-card>
</form>
