<section>
  <div class="cards">
    <div class="image">
      <div class="img">
        <img src="../../../../assets/images/Moi.jpg" alt="Moi.jpg" />
      </div>
      <button>
        <mat-icon>cloud_upload</mat-icon>
        <span>Modifier</span>
      </button>
    </div>
    <div class="text">
      <div class="heading">
        <div>
          <h4>Tene Delfred</h4>
          <span class="getsmarter-prof">Getsmarter Prof</span>
        </div>
        <button (click)="updateProfessor()">
          <mat-icon>edit</mat-icon>
          <span>Modifier</span>
        </button>
      </div>

      <div class="subheading">
        <div>
          <p>
            <mat-icon>alternate_email</mat-icon>
            <span>email</span>
          </p>
          <h4>johngetsmarter&commat;.com</h4>
        </div>
        <div>
          <p>
            <mat-icon>phone_in_talk</mat-icon>
            <span>Numéro téléphone</span>
          </p>
          <h4>+237 674897552</h4>
        </div>
        <div>
          <p>
            <mat-icon>contact_emergency</mat-icon>
            <span>identifiant unique cni</span>
          </p>
          <h4>20213456789534278</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="back">
    <button (click)="backPage()">
      <mat-icon>west</mat-icon>
    </button>
  </div>
</section>
