@import "../../../../styles.scss";

section {
  height: 100%;
  width: 100%;
  background-color: $background;
  padding: 10rem 2rem 5rem 2rem;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .cards {
    border-radius: 0.5rem;
    background-color: $white;
    box-shadow: 0 0.5rem 0.5rem #ddd;
    padding: 4rem 2rem;
    // border-bottom: 0.2rem solid $logo-color;
    width: 80%;
    display: flex;
    gap: 10rem;
    position: relative;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img {
        height: 30rem;
        width: 30rem;
        box-shadow: 0 0 1rem #ccc;
        border-radius: 100%;
        overflow: hidden;
        margin-bottom: 4rem;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      button {
        background-color: $logo-color;
        color: $white;
        display: flex;
        align-items: center;
        gap: 1rem;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 0.2rem 0.5rem #bbb;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.05) translateY(-8%);
        }

        &:active {
          transform: translateY(0);
        }
      }
    }

    .text {
      width: 100%;

      .heading {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        margin-bottom: 8rem;

        h4 {
          text-transform: capitalize;
          font-weight: 500;
          font-size: 3rem;
          line-height: 4rem;
        }
        .getsmarter-prof {
          text-transform: capitalize;
          font-size: 1.4rem;
          color: $gris-pale;
          margin-left: 0.5rem;
        }

        &::after {
          position: absolute;
          content: "";
          height: 0.5rem;
          width: 100%;
          background-color: $logo-color;
          border-radius: 1rem;
          top: 100%;
        }

        button {
          background-color: $logo-color;
          color: $white;
          display: flex;
          align-items: center;
          gap: 1rem;
          border: none;
          border-radius: 0.5rem;
          box-shadow: 0 0.2rem 0.5rem #bbb;
          padding: 1rem 2rem;
          font-size: 1.6rem;
          font-weight: 500;
          cursor: pointer;
          transition: all 0.3s;

          &:hover {
            transform: scale(1.05) translateY(-8%);
          }

          &:active {
            transform: translateY(0);
          }
        }
      }

      .subheading {
        div {
          margin: 4rem 0;
          font-size: 1.6rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            color: $gris-pale;
            display: flex;
            align-items: center;
            gap: .5rem;
            text-transform: capitalize;
          }

          h4 {
            font-weight: 500;
            font-size: 1.8rem;
            color: $primary;
          }
        }
      }
    }
  }

  .back {
    position: fixed;
    top: 10%;
    left: 14%;

    button {
      color: $logo-color;
      padding: .1rem 1rem;
      background-color: $white;
      border-radius: .5rem;
      border: none;
      box-shadow: 0 0 .3rem $gris-pale;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}
