<section>
  <div class="container">
    <div class="left-side">
      <div class="content">
        <div class="title">
          <img src="../../assets/images/icon-site.png" alt="icon-site.png" />
          <h1>get<span>smarter</span></h1>
        </div>
        <h2>Mot de passe oublié?</h2>
        <p class="welcome">
          Renseignez votre adresse électronique afin de recevoir le mail
        </p>
        <form [formGroup]="forgortPasswordForm" (ngSubmit)="confirm()">
          <!-- email field  -->
          <div class="email">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                formControlName="email"
                matInput
                placeholder="Exemple@gmail.com"
              />
              <mat-icon matIconPrefix>mail</mat-icon>
            </mat-form-field>
            <span
              class="error"
              *ngIf="
                forgortPasswordForm.hasError('required', 'email') &&
                forgortPasswordForm.controls['email'].touched
              "
              >L'email est obligatoire !</span
            >
            <span
              class="error"
              *ngIf="
                forgortPasswordForm.hasError('pattern', 'email') &&
                forgortPasswordForm.controls['email'].touched
              "
            >
              L'email est invalide !</span
            >
          </div>
          <button class="submit" type="submit">valider</button>
        </form>
      </div>
    </div>
    <div class="right-side">
      <div class="image">
        <img
          src="../../assets/images/forgot-the-password.webp"
          alt="forgot-the-password.webp"
        />
      </div>

      <p>
        Vous recevrez un code par mail qui vous permettra de renitialiser votre
        mot de passe.
      </p>
    </div>
  </div>
</section>
