<form>
  <mat-card>
    <mat-card-header>
      <h1>Enregistrer un campus</h1>
    </mat-card-header>

    <mat-card-content>
      <!-- Validation du champ noms  -->
      <div>
        <mat-form-field>
          <mat-label>Nom du campus</mat-label>
          <input formControlName="name" matInput placeholder="Campus 1" />
        </mat-form-field>
      </div>

      <!-- Validation du champ localisation  -->
      <div>
        <mat-form-field>
          <mat-label>Localisation</mat-label>
          <input formControlName="localisation" matInput placeholder="Logpom" />
        </mat-form-field>
      </div>
    </mat-card-content>

    <div class="button">
      <button type="submit">Enregistrer</button>
      <button (click)="closePopup()">Annuler</button>
    </div>
  </mat-card>
</form>
